---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCards from "../../components/BlogPostCards.astro";
import TagsList from "../../components/TagsList.astro";
import ManualLocaleString from "../../components/ManualLocaleString.ts";

import SocialLink from "../../components/SocialLink.astro";
import rssLogo from "/src/assets/logos/rss.svg";

function LocaleString(en: string, fr: string, locale = Astro.currentLocale!) {
    return ManualLocaleString(locale, en, fr);
}

import { getCollection, type CollectionEntry, getEntry } from "astro:content";
const blogPosts: CollectionEntry<"blog">[] = await getCollection("blog");

blogPosts.sort(
    (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
        new Date(b.data.creationDate).getTime() -
        new Date(a.data.creationDate).getTime(),
);

const tagsId = new Set<string>();

for (const post of blogPosts) {
    for (const tag of post.data.tags) {
        const entry = await getEntry(tag.collection, tag.id);
        tagsId.add(entry!.id);
    }
}

const allTags = new Set<CollectionEntry<"tags">>();

for (const id of tagsId) {
    const tag = await getEntry("tags", id);
    allTags.add(tag!);
}

const sortedTags = [...new Set(allTags)].sort((a, b) =>
    a.data.name.localeCompare(b.data.name),
);

// Convert blogposts into a hashmap of folders
const postsByFolder = blogPosts.reduce((acc, post) => {
    const folder = post.id.slice(0, post.id.lastIndexOf("/"));
    if (!acc.get(folder)) acc.set(folder, []);

    acc.get(folder)!.push(post);
    return acc;
}, new Map<string, CollectionEntry<"blog">[]>());

// Put the archive folder at the end and sort new years first
const sortedPostsByFolder: Map<string, CollectionEntry<"blog">[]> = new Map(
    [...postsByFolder.entries()].sort((a, b) => {
        if (a[0] === "archive") return 1;
        if (b[0] === "archive") return -1;

        const a_isnum = !isNaN(Number(a));
        const b_isnum = !isNaN(Number(b));
        if (a_isnum === true && b_isnum === true) a[0].localeCompare(b[0]);
        return 0;
    }),
);
---

<BaseLayout title={LocaleString("All blog posts", "Tous les articles de blog")}>
    <div class="mx-5 sm:mx-10 mt-12">
        <h1 class="text-4xl">
            <strong
                >{
                    LocaleString("All blog posts", "Tous les articles de blog")
                }</strong
            >
        </h1>

        <h2 class="text-xl mt-2 leading-relaxed">
            {
                LocaleString(
                    "English or french, this blog contains a little bit of everything all of the time!",
                    "Anglais ou français, ce blog contient un tout petit peu de tout, tout le temps.",
                )
            }
        </h2>

        <SocialLink
            link="/rss.xml"
            imgSrc={rssLogo}
            imgAlt={LocaleString(
                "Subscribe to my blog!",
                "S'abonner à mon blog!",
            )}
            classes="mt-4 mb-2"
            loading={"eager"}
        />

        <TagsList tags={sortedTags} type="blog" variant="spaced" />

        {
            [...sortedPostsByFolder].map(([folder, entries]) => (
                <section>
                    <h3 class="text-lg mt-10 mb-2">
                        {folder.charAt(0).toUpperCase() + folder.slice(1)}
                    </h3>
                    <BlogPostCards blog_entries={entries} />
                </section>
            ))
        }
    </div>
</BaseLayout>
