---
import { getRelativeLocaleUrl } from "astro:i18n";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import jayden300px from "../assets/jayden-300px.png";
import ManualLocaleString from "../components/ManualLocaleString.ts";
import SocialLink from "../components/SocialLink.astro";

import youtubeLogo from "/src/assets/logos/youtube_social_icon_red.png";
import codebergLogo from "/src/assets/logos/codeberg-logo_icon_blue-64x64.png";
import codebergDarkMode from "/src/assets/logos/codeberg-logo_icon_white-64x64.png";
import simplexLogo from "/src/assets/logos/simplex-symbol-light.svg";
import simplexDarkLogo from "/src/assets/logos/simplex-symbol-dark.svg";
import gitlabLogo from "/src/assets/logos/gitlab-logo-500.svg";
import githubLogo from "/src/assets/logos/github-mark.svg";
import githubLogoDarkMode from "/src/assets/logos/github-mark-white.svg";
import rssLogo from "/src/assets/logos/rss.svg";

function LocaleString(en: string, fr: string, locale = Astro.currentLocale!) {
    return ManualLocaleString(locale, en, fr);
}
---

<BaseLayout
    title={LocaleString("👋 Hi, I'm Jayden!", "👋 Salut, je suis Jayden!")}
>
    <Fragment slot="head">
        <meta property="og:type" content="profile" />
        <meta property="profile:username" content="Jayden" />
    </Fragment>

    <!-- Intro section -->

    <figure class="flex sm:mt-10 flex-col sm:flex-row">
        <Image
            src={jayden300px}
            alt={LocaleString(
                "Jayden's profile picture",
                "Photo de profil de Jayden",
            )}
            crossorigin={"anonymous"}
            referrerpolicy={"no-referrer"}
            loading={"eager"}
            class={"w-full sm:w-fit rounded-3xl"}
        />
        <figcaption
            class="sm:self-center text-right mt-10 sm:mt-0 sm:ml-12 mx-5 sm:mx-10"
        >
            <h1 class="text-4xl">
                <strong
                    >{
                        LocaleString(
                            "👋 Hi, I'm Jayden!",
                            "👋 Salut, je suis Jayden!",
                        )
                    }</strong
                >
            </h1>
            <h2 class="text-xl leading-relaxed mt-2">
                {
                    LocaleString(
                        "Welcome to my website!",
                        "Bienvenue sur mon site web!",
                    )
                }
            </h2>
        </figcaption>
    </figure>

    <!-- About me section -->
    <div class="mx-5 sm:mx-10 mt-10 max-w-prose">
        <section>
            <h3 class="text-lg mt-4 mb-2">
                {LocaleString("Who am I?", "Qui suis-je?")}
            </h3>
            <p class="my-1">
                {
                    LocaleString(
                        <>
                            I'm a french person (baguette 🥖🥖🥖). My timezone
                            is
                            <a
                                class="link"
                                href="https://timeanddate.com/worldclock/france/paris"
                            >
                                the same one as Metropolitan France, CET in
                                winter, and CEST in summer
                            </a>
                            . I'd say I'm a begineer self-taught software
                            engineer. I'd describe my personality as quite
                            friendly and silly if I'm not shy (I have no idea
                            how does my shyness work, just hope for the best),
                            otherise I still try to talk and do lots of jokes
                            (thats how I prevent myself from being silent in a
                            conversation).
                        </>,
                        <>
                            Je suis un français (oui oui baguetto). Mon fuseau
                            horaire est
                            <a
                                class="link"
                                href="https://timeanddate.com/worldclock/france/paris"
                            >
                                le même que celui en France métropolitaine, CET
                                en hiver, CEST en été
                            </a>
                            . Je dirais que je suis un "ingenieur logiciel" qui
                            a appris tout ça grâce à internet. Je me décrirais
                            en tant que personne qui serait gentil et qui
                            parlerait moyennement si je ne suis pas timide. Je
                            dis aussi beaucoups de blagues car sinon j'ai rien
                            d'autre à dire.
                        </>,
                    )
                }
            </p>

            <p class="my-1 mt-4">
                {
                    LocaleString(
                        "Here are some things that I like!",
                        "Choses que j'aime:",
                    )
                }
            </p>
            <ul class="list-disc list-inside">
                <li class="my-1">
                    {
                        LocaleString(
                            "Singing: no, do not look up my old song covers",
                            "Chanter: Non, n'écouter pas mes anciennes musiques.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Acting: especially improv, it's just amazing",
                            "Faire du théatre: surtout l'improvisation, c'est juste incroyable.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Coding: This one should kinda be obvious if you seen my website",
                            "Coder: Si vous avez déja vu mon site web, vous pourriez probablement deviner ça",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Linux: will save us all from proprietery microsoft",
                            "Linux: j'adore Linux, vous savez que j'utilise NixOS?",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Other computer schtuff: I won't enumerate every single thing I like, just ask me!",
                            "Autres choses avec les ordinateurs: il y a d'autres choses que j'aime que je n'ai pas\
                        exactement énumérer.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Other creative schtuff: Once again, if its something related to creative things,\
                        I'll probably like it",
                            "Autres choses créatifs: J'aimerais bien commencer à dessiner ou à faire mes propres\
                        musiques.",
                        )
                    }
                </li>
            </ul>

            <p class="my-1">
                {
                    LocaleString(
                        <>
                            To be honest, you will probably learn about me more
                            though
                            <a
                                class="link"
                                href={getRelativeLocaleUrl(
                                    Astro.currentLocale!,
                                    "blog",
                                )}
                            >
                                my blog
                            </a>
                            , and
                            <a href="#social" class="link">
                                my socials (down here)!
                            </a>
                        </>,
                        <>
                            Pour être honnète, vous aller probablement apprendre
                            à me connaitre en regardant
                            <a
                                class="link"
                                href={getRelativeLocaleUrl(
                                    Astro.currentLocale!,
                                    "blog",
                                )}
                            >
                                mon blog
                            </a>
                            , et
                            <a href="#social" class="link">
                                mes réseaux sociaux (juste en dessous)!
                            </a>
                        </>,
                    )
                }
            </p>

            <h3 class="text-lg mt-4 mb-2">
                {LocaleString("Skillset", "Compétences")}
            </h3>
            <p class="my-1">
                {
                    LocaleString(
                        "I'm a beginner self-taught software engineer (did a few projects\
        here and there). Here are the things I know:",
                        "Je suis un 'ingénieur logiciel' qui a appris tout\
        ça grâce à internet. Voici les choses que je connais:",
                    )
                }
            </p>
            <ul class="list-inside list-disc">
                <li class="my-1">
                    {
                        LocaleString(
                            <>
                                C: Fairly good at this, I wrote a{" "}
                                <a>Hack Assembler using it before.</a>
                            </>,
                            "C: Je suis plûtot fort à ça, j'ai écris un assembleur pour le language Hack avec C.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Javascript/Typescript: Very good at this too, I did the Advent of Code 2024 using\
                Javascript/Typescript before, this website also contains some Typescript.",
                            "Javascript/Typescript: Je m'y connais bien à ça aussi, j'ai fais le Advent of Code 2024 en utilisant le\
                Javascript/Typescript, ce site web contient aussi un peu de Typescript.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "HTML/CSS: Should be fine with it, though I'm struggling with CSS.\
                This website is written with HTML and CSS.",
                            "HTML/CSS: Je ne serait pas perdu pour ces languages,\
                mais j'ai du mal à faire des choses complexes avec le CSS. Ce site web utilise bien sûr de l'HTML\
                et du CSS.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            "Astro web framework: Quite good at this, this website is written\
                using the Astro web framework.",
                            "Astro web framework: Je m'y connais bien, ce site web utilise\
                Astro.",
                        )
                    }
                </li>
                <li class="my-1">
                    {
                        LocaleString(
                            'Nix(OS): Should be good for NixOS, I am using NixOS and have my own\
            config published on Codeberg. Though I never really used any of the "complex" features of Nix.',
                            "Nix(OS): Je devrais m'y connaitre en Nix, j'utilise NixOS et j'ai ma configuration est publier\
            sur Codeberg. Par contre je n'ai jamais utiliser Nix pour faire des choses complexes.",
                        )
                    }
                </li>
            </ul>
        </section>
        <section>
            <h3 id="social" class="text-lg mt-4 mb-2">
                {
                    LocaleString(
                        "My socials and other accounts!",
                        "Mes réseaux sociaux et autres comptes!",
                    )
                }
            </h3>
            <SocialLink
                link="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2FenEkec4hlR3UtKx2NMpOUK_K4ZuDxjWBO1d9Y4YXVaA%3D%40smp14.simplex.im%2FhtjovYrbQqCYcnYdSvU7AQtUvczop0N-%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAYAhEqs6gO86Bv7fhRHfAu--KC-FkknCDVTtMyzV_nio%253D%26srv%3Daspkyu2sopsnizbyfabtsicikr2s4r3ti35jogbcekhm3fsoeyjvgrid.onion"
                imgSrc={simplexLogo}
                imgDark={simplexDarkLogo}
                imgAlt={LocaleString("SimpleX logo", "Logo SimpleX")}
                name="Jayden"
                description={LocaleString(
                    "Talk to me there. Really privacy preserving SimpleX messager.",
                    "Pour me contacter. Messagerie qui préserve vraiment la confidentialité.",
                )}
            />
            <SocialLink
                link="https://youtube.com/channel/UClqF9c9IR9mdRmA_EJ8p7QA"
                imgSrc={youtubeLogo}
                imgAlt={LocaleString("YouTube logo", "Logo YouTube")}
                name="Jayden Makes Schtuff"
                description={LocaleString(
                    "A little bit of everything.",
                    "Un tout petit peu de tout.",
                )}
            />
            <SocialLink
                link="https://codeberg.org/Jayden295"
                imgSrc={codebergLogo}
                imgDark={codebergDarkMode}
                imgAlt={LocaleString("Codeberg logo", "Logo Codeberg")}
                name="Jayden295"
                description={LocaleString(
                    "My Codeberg account, the place where you will find most of my code!",
                    "Mon compte Codeberg, l'endroit où vous trouverez le plus de mon code!",
                )}
            />
            <SocialLink
                link="https://gitlab.com/Jayden295"
                imgSrc={gitlabLogo}
                imgAlt={LocaleString("GitLab logo", "Logo GitLab")}
                name="Jayden295"
                description={LocaleString(
                    "My GitLab account, mostly used for GitLab pages and the CICD.",
                    "Mon compte GitLab, plûtot utilisé pour GitLab pages et le CICD.",
                )}
            />
            <SocialLink
                link="https://github.com/Jayden295"
                imgSrc={githubLogo}
                imgDark={githubLogoDarkMode}
                imgAlt={LocaleString("GitHub logo", "Logo GitHub")}
                name="Jayden295"
                description={LocaleString(
                    "My GitHub account, used mostly to just report issues to projects...",
                    "Mon compte GitHub, plûtot utilisé pour signaler des problèmes à des projets...",
                )}
            />
            <SocialLink
                link="/rss.xml"
                imgSrc={rssLogo}
                imgAlt={LocaleString(
                    "Subscribe to my blog!",
                    "S'abonner à mon blog!",
                )}
                name="Jayden"
                description={LocaleString(
                    "The RSS to my personal blog!",
                    "Le RSS pour mon blog!",
                )}
            />
        </section>

        <section>
            <h3 class="text-lg mt-4 mb-2">
                {LocaleString("Thank you note", "Note de remerciment")}
            </h3>
            <p class="my-1">
                {
                    LocaleString(
                        "I want to say thank you to all of my friends, family, and other people that were kind to me. So thank you!",
                        "Je voudrais dire merci pour tout mes amis, famille, et autres personnes qui été bienveillants avec moi. Encore une fois merci!",
                    )
                }
            </p>
        </section>
    </div>
</BaseLayout>
