---
import { getRelativeLocaleUrl } from "astro:i18n";
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
    class="bg-color-100 hover:bg-color-200 rounded-3xl"
    href={getRelativeLocaleUrl(Astro.currentLocale!, `blog/post/${post.id}`)}
>
    {
        post.data.image && (
            <Image
                src={post.data.image.url}
                alt={post.data.image.alt}
                class:list={"rounded-3xl max-h-40 w-full object-contain"}
                crossorigin={"anonymous"}
                referrerpolicy={"no-referrer"}
                loading={"eager"}
            />
        )
    }

    <div class="pb-4 pt-3 px-4">
        <div class="text-xl mb-0.5">{post.data.title}</div>
        <time
            class="text-color-light-text"
            datetime={post.data.creationDate.toISOString()}
        >
            {
                post.data.creationDate.toLocaleDateString(undefined, {
                    weekday: "long",
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </time>
    </div>
</a>
