---
import { type CollectionEntry } from "astro:content";
import BlogPostCard from "./BlogPostCard.astro";

interface Props {
    blog_entries: CollectionEntry<"blog">[];
}

const { blog_entries } = Astro.props;
---

{
    blog_entries.length > 0 && (
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5">
            {blog_entries.map((post) => (
                <BlogPostCard post={post} />
            ))}
        </div>
    )
}
