---
interface Props {
  variant: "vertical" | "horizontal";
}

const { variant } = Astro.props;

// They are hidden by default since they rely on javascript to work
---

<select
  transition:persist
  class=`${variant == "vertical" && "ml-4 mt-4 block"} hidden dark-mode-switcher rounded-full p-3 bg-color-100 text-color-text mr-1`
>
  <option value="auto">Auto</option>
  <option value="dark">Dark</option>
  <option value="light">Light</option>
</select>
