---

---

<footer class="flex mt-64 place-content-center text-center">
    <div
        class="inline-block mb-5 text-color-light-text grow sm:grow-0"
    >
        <p>
            {
                Astro.currentLocale === "fr" ? (
                    <>
                        Le contenu de ce site web est{" "}
                        <a
                            class="link"
                            href="https://creativecommons.org/licenses/by-sa/4.0/"
                        >
                            CC-BY-SA-4.0</a>.
                    </>
                ) : (
                    <>
                        The content of this website is{" "}
                        <a
                            class="link"
                            href="https://creativecommons.org/licenses/by-sa/4.0/"
                        >
                            CC-BY-SA-4.0</a>.
                    </>
                )
            }
        </p>
        <p>
            {
                Astro.currentLocale === "fr" ? (
                    <>
                        Le code de ce site web est{" "}
                        <a
                            class="link"
                            href="https://gnu.org/licenses/agpl.html"
                        >
                            AGPL-3.0-or-later</a>.
                    </>
                ) : (
                    <>
                        The code of this website is{" "}
                        <a
                            class="link"
                            href="https://gnu.org/licenses/agpl.html"
                        >
                            AGPL-3.0-or-later</a>.
                    </>
                )
            }
        </p>
        <p>
            {
                Astro.currentLocale === "fr" ? (
                    <>
                        <a
                            class="link"
                            href="https://codeberg.org/Jayden295/personal-site"
                        >
                            Source</a>
                        de ce site web.
                    </>
                ) : (
                    <>
                        <a
                            class="link"
                            href="https://codeberg.org/Jayden295/personal-site"
                        >
                            Source</a>
                        of this website.
                    </>
                )
            }
        </p>
    </div>
</footer>
