---
import { getRelativeLocaleUrl } from "astro:i18n";
import DarkModeSwitcher from "./DarkModeSwitcher.astro";

interface Props {
  variant: "vertical" | "horizontal";
}

const { variant } = Astro.props;

function removeI18nFromLink(pathname: string) {
  const i18nStrings = ["fr"];
  const i18nMatch = i18nStrings.find((i18nString) =>
    String(pathname).startsWith(`/${i18nString}/`),
  );

  if (i18nMatch) {
    return pathname.substring(i18nMatch.length + 1);
  }

  return pathname;
}

const pathname = new URL(Astro.request.url).pathname;
---

<span class=`inline-block ${variant === "vertical" ? "mt-4" : ""}`>
  {variant == "horizontal" && <DarkModeSwitcher variant={variant}/>}
  <a
    href={getRelativeLocaleUrl("en", removeI18nFromLink(Astro.url.pathname))}
    class=`rounded-full ${variant === "vertical" ? "ml-4" : ""} p-3 ${pathname === getRelativeLocaleUrl("en", removeI18nFromLink(Astro.url.pathname)) ? "bg-color-selected text-color-text" : 'hover:bg-color-100 text-color-light-text'} active:bg-color-100 hover:text-color-text active:text-color-text`
    >EN</a
  >
  <a
    href={getRelativeLocaleUrl("fr", removeI18nFromLink(Astro.url.pathname))}
    class=`rounded-full p-3 ${pathname === getRelativeLocaleUrl("fr", removeI18nFromLink(Astro.url.pathname)) ? "bg-color-selected text-color-text" : 'hover:bg-color-100 text-color-light-text'} active:bg-color-100 hover:text-color-text active:text-color-text`
    >FR</a
  >
</span>

{variant == "vertical" && <DarkModeSwitcher variant={variant}/>}