---
import NavbarLink from "./NavbarLink.astro";
import LanguageLinks from "./LanguageLinks.astro";
import { Image } from "astro:assets";
import ManualLocaleString from "../components/ManualLocaleString.ts";

function LocaleString(en: string, fr: string, locale = Astro.currentLocale!) {
    return ManualLocaleString(locale, en, fr);
}

interface Props {
    variant: "vertical" | "horizontal";
}

const { variant } = Astro.props;
---

<div
    class=`flex ${variant === "vertical" ? "flex-col mt-12" : "fixed bg-color-background w-full justify-between"}`
>
    <div class=`${variant === "horizontal" ? "self-center lg:w-1/4 sm:hidden md:block ml-5" : "block flex ml-6"}`>
        <span class="self-center">
            <Image
                src="/favicon.ico"
                alt={LocaleString(
                    "Jayden's profile picture",
                    "Photo de profil de Jayden",
                )}
                crossorigin={"anonymous"}
                referrerpolicy={"no-referrer"}
                loading={"eager"}
                class={"rounded-full inline"}
                width="32"
                height="32"
            />
        </span>
        <span
            class=`${variant === "horizontal" ? "self-center md:pl-3" : "p-3"} text-xl`
            >Jayden</span
        >
    </div>
    <div class=`${variant === "horizontal" && "self-center flex"}`>
        <NavbarLink
            text={Astro.currentLocale === "fr" ? "À propos de moi" : "About me"}
            link="/"
            variant={variant}
        />
        <NavbarLink
            text={Astro.currentLocale === "fr" ? "Mon blog" : "Personal blog"}
            link="blog/"
            variant={variant}
        />
        <NavbarLink
            text={Astro.currentLocale === "fr" ? "Projets" : "Projects"}
            link="projects/"
            variant={variant}
        />
    </div>
    <div class=`${variant === "horizontal" && "self-center lg:w-1/4 flex-row-reverse flex mr-5"}`>
        <LanguageLinks variant={variant} />
    </div>
</div>
