---
import NavbarLinks from "./NavbarLinks.astro";
import { Image } from "astro:assets";
import ManualLocaleString from "../components/ManualLocaleString.ts";

function LocaleString(en: string, fr: string, locale = Astro.currentLocale!) {
    return ManualLocaleString(locale, en, fr);
}
---

<nav>
    <input id="navbar-mobile-checkbox" type="checkbox" class="peer hidden" />
    <div class="flex bg-color-background w-full fixed sm:hidden">
        <label
            for="navbar-mobile-checkbox"
            class="cursor-pointer rounded-full bg-color-background hover:bg-color-100"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-7 m-2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
            <span class="sr-only">
                {
                    Astro.currentLocale === "fr"
                        ? "Basculer la barre de navigation"
                        : "Toggle navigation bar"
                }
            </span>
        </label>
        <div class="self-center pl-1">
            <Image
                src="/favicon.ico"
                alt={LocaleString(
                    "Jayden's profile picture",
                    "Photo de profil de Jayden",
                )}
                crossorigin={"anonymous"}
                referrerpolicy={"no-referrer"}
                loading={"eager"}
                class={"rounded-full inline"}
                width="32"
                height="32"
            />
        </div>
        <span class="self-center pl-2">Jayden</span>
    </div>
    <label for="navbar-mobile-checkbox" class="peer-checked:block hidden">
        <div class="sm:hidden h-full w-full bg-color-text/20 fixed z-20"></div>
        <span class="sr-only">
            {
                Astro.currentLocale === "fr"
                    ? "Basculer la barre de navigation"
                    : "Toggle navigation bar"
            }</span
        >
    </label>
    <div
        class="z-30 rounded-r-3xl -left-48 peer-checked:left-0 fixed ease-in-out duration-200 top-0 bg-color-background h-full w-48 sm:hidden"
    >
        <label
            for="navbar-mobile-checkbox"
            class="absolute left-full -ml-11 cursor-pointer hover:bg-color-100 rounded-full"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-7 m-2"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"></path>
            </svg>
            <span class="sr-only">
                {
                    Astro.currentLocale === "fr"
                        ? "Basculer la barre de navigation"
                        : "Toggle navigation bar"
                }</span
            >
        </label>
        <NavbarLinks variant="vertical" />
    </div>
    <div class="hidden sm:block">
        <NavbarLinks variant="horizontal" />
    </div>
</nav>


<script src="../scripts/DarkMode.ts"></script>
