---
import { type CollectionEntry } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

interface Props {
    projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

{
    projects.length > 0 && (
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5">
            {projects.map((project) => (
                <ProjectCard project={project} />
            ))}
        </section>
    )
}
