---
import { type CollectionEntry, getEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import TagsList from "./TagsList.astro";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const tagsId = new Set<string>();

for (const tag of project.data.tags) {
    const entry = await getEntry(tag.collection, tag.id);
    tagsId.add(entry!.id);
}

const allTags = new Set<CollectionEntry<"tags">>();

for (const id of tagsId) {
    const tag = await getEntry("tags", id);
    allTags.add(tag!);
}

const sortedTags = [...new Set(allTags)].sort((a, b) =>
    a.data.name.localeCompare(b.data.name),
);
---

<div class="flex-col flex bg-color-100 rounded-3xl">
    {
        project.data.image && (
            <Image
                src={project.data.image.url}
                alt={project.data.image.alt}
                class:list={"w-full max-h-40 object-contain rounded-3xl"}
                crossorigin={"anonymous"}
                referrerpolicy={"no-referrer"}
                loading={"eager"}
            />
        )
    }

    <div
        class:list={project.data.deploy_url ? "" : "mb-2"}
        class="py-3 pt-5 grow flex flex-col"
    >
        <div class="grow">
            <div class="px-5">
                <h3 class="text-xl mb-0.5">{project.data.name}</h3>
                <time
                    class="text-color-light-text"
                    datetime={project.data.creationDate.toISOString()}
                >
                    {
                        project.data.creationDate.toLocaleDateString(
                            undefined,
                            {
                                weekday: "long",
                                year: "numeric",
                                month: "long",
                                day: "numeric",
                            },
                        )
                    }
                </time>
                <p>{project.data.description}</p>
            </div>
            <div class="px-2">
                <TagsList
                    tags={sortedTags}
                    type="projects"
                    variant="one_line_darker"
                />
            </div>
        </div>
        <div>
            <div class="mt-2 px-5 flex justify-between items-center">
                <div>
                    <a
                        class="link mr-2"
                        href={getRelativeLocaleUrl(
                            Astro.currentLocale!,
                            `blog/post/${project.data.blog_post.id}`,
                        )}
                    >
                        {
                            Astro.currentLocale === "fr"
                                ? "En savoir plus"
                                : "Learn more"
                        }
                    </a>
                </div>
                <div>
                    <a
                        class="inline-block link mr-2"
                        href={project.data.codeberg_url}
                    >
                        Source
                    </a>

                    {
                        project.data.deploy_url && (
                            <a
                                class="inline-block bg-color-200 rounded-full p-2 px-3 text-color-light-text hover:text-color-text"
                                href={project.data.deploy_url}
                            >
                                {Astro.currentLocale === "fr"
                                    ? "Montrer"
                                    : "Show"}
                            </a>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</div>
