---
import Image from "astro/components/Image.astro";

interface Props {
    link: string;
    imgSrc: ImageMetadata;
    imgAlt: string;
    imgDark?: ImageMetadata;
    loading?: "eager" | "lazy" | null | undefined;
    classes?: string;
    name?: string;
    description?: string;
}

const { link, imgSrc, imgAlt, imgDark, classes, loading, name, description } =
    Astro.props;
---

<div class=`${classes} my-1`>
    <a href={link} class="link">
        <Image
            src={imgSrc}
            alt={imgAlt}
            crossorigin={"anonymous"}
            referrerpolicy={"no-referrer"}
            loading={loading}
            class={"inline object-contain max-w-6" + (imgDark ? " dark:hidden" : "")}
        />
        {
            imgDark && (
                <Image
                    src={imgDark}
                    alt={imgAlt}
                    crossorigin={"anonymous"}
                    referrerpolicy={"no-referrer"}
                    loading={loading}
                    class={"hidden dark:inline object-contain max-w-6"}
                />
            )
        }

        {name}</a
    >
    {description}
</div>
