---
import { getRelativeLocaleUrl } from "astro:i18n";
import { type CollectionEntry } from "astro:content";

interface Props {
    tags: CollectionEntry<"tags">[];
    type: "blog" | "projects";
    variant: "spaced" | "one_line_darker";
}

const { tags, type, variant } = Astro.props;

const language_tags = tags.filter(
    (tag) => tag.id.slice(0, tag.id.lastIndexOf("/")) == "languages",
);

const tech_tags = tags.filter(
    (tag) => tag.id.slice(0, tag.id.lastIndexOf("/")) == "tech",
);

const other_tags = tags.filter(
    (tag) =>
        tag.id.slice(0, tag.id.lastIndexOf("/")) != "languages" &&
        tag.id.slice(0, tag.id.lastIndexOf("/")) != "tech",
);

const array_tags = [language_tags, tech_tags, other_tags];
---

<div class="mt-1 mb-2">
    {
        array_tags.map((tags) => (
            <div class:list={variant === "one_line_darker" ? "inline" : ""}>
                {tags.map((tag) => (
                    <a
                        href={getRelativeLocaleUrl(
                            Astro.currentLocale!,
                            `${type}/tags/${tag.id}`,
                        )}
                        class:list={variant === "one_line_darker" ? "bg-color-200" : "bg-color-100"}
                        class="p-2 px-3 inline-block text-color-light-text mr-1 mb-1 hover:text-color-text rounded-full"
                    >
                        {tag.data.name}
                    </a>
                ))}
            </div>
        ))
    }
</div>
