---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import ProjectsCards from "../../components/ProjectsCards.astro";
import ManualLocaleString from "../../components/ManualLocaleString.ts";
import TagsList from "../../components/TagsList.astro";

function LocaleString(en: string, fr: string, locale = Astro.currentLocale!) {
    return ManualLocaleString(locale, en, fr);
}

const projects: CollectionEntry<"projects">[] = await getCollection("projects");

projects.sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
        new Date(b.data.creationDate).getTime() -
        new Date(a.data.creationDate).getTime(),
);

const normalProjects = projects.filter(
    (project: CollectionEntry<"projects">) =>
        project.id.slice(0, project.id.lastIndexOf("/")) == "my-projects",
);

const archivedProjects = projects.filter(
    (project: CollectionEntry<"projects">) =>
        project.id.slice(0, project.id.lastIndexOf("/")) == "archived-projects",
);

const tagsId = new Set<string>();

for (const project of projects) {
    for (const tag of project.data.tags) {
        const entry = await getEntry(tag.collection, tag.id);
        tagsId.add(entry!.id);
    }
}

const allTags = new Set<CollectionEntry<"tags">>();

for (const id of tagsId) {
    const tag = await getEntry("tags", id);
    allTags.add(tag!);
}

const sortedTags = [...new Set(allTags)].sort((a, b) =>
    a.data.name.localeCompare(b.data.name),
);
---

<BaseLayout title={LocaleString("My projects", "Mes projets")}>
    <div class="mx-5 sm:mx-10 mt-10">
        <h1 class="text-4xl leading-relaxed mb-2">
            <strong>{LocaleString("My projects", "Mes projets")}</strong>
        </h1>

        <h2 class="text-xl mt-2 mb-5 leading-relaxed">
            {LocaleString('Aka my "portfolio"', 'Mon "portfolio"')}
        </h2>

        <TagsList tags={sortedTags} type="projects" variant="spaced" />

        <div class="mt-10"></div>

        <ProjectsCards projects={normalProjects} />

        <h3 class="text-lg mt-10 mb-2">
            {LocaleString("Archived projects", "Projets archivés")}
        </h3>

        <ProjectsCards projects={archivedProjects} />
    </div>
</BaseLayout>
