@tailwind base;
@tailwind components;

/* Color scheme (dark and light) */
@layer base {
  @media (prefers-color-scheme: dark) {
    :root:not(.light) {
      /* background colors */
      --color-background: 0 0 0; /* #000000 */
      --color-100: 33 17 43; /* #21112b */
      --color-200: 53 27 69; /* #351b45 */
      --color-selected: 147 81 188; /* #9351bc */

      /* text colors */
      --color-text: 255 255 255; /* #ffffff */
      --color-link: 215 185 234; /* #d7b9ea */
      --color-link-hover: 231 205 247; /* #e7cdf7 */
      --color-link-visited: 209 144 249; /* #d190f9 */
      --color-light-text: 215 185 234; /* #d7b9ea */
    }
  }

  :root[class~="dark"] {
    /* background colors */
    --color-background: 0 0 0; /* #000000 */
    --color-100: 33 17 43; /* #21112b */
    --color-200: 53 27 69; /* #351b45 */
    --color-selected: 147 81 188; /* #9351bc */

    /* text colors */
    --color-text: 255 255 255; /* #ffffff */
    --color-link: 215 185 234; /* #d7b9ea */
    --color-link-hover: 231 205 247; /* #e7cdf7 */
    --color-link-visited: 209 144 249; /* #d190f9 */
    --color-light-text: 215 185 234; /* #d7b9ea */
  }

  :root {
    /* background colors */
    --color-background: 255 255 255; /* #ffffff */
    --color-100: 244 232 252; /* #f4e8fc */
    --color-200: 237 214 252; /* #edd6fc  */
    --color-selected: 240 222 252; /* #f0defc */

    /* text colors */
    --color-text: 0 0 0; /* #000000 */
    --color-link: 91 15 138; /* #5b0f8a */
    --color-link-hover: 118 20 179; /* #7614b3 */
    --color-link-visited: 53 27 69; /* #351b45 */
    --color-light-text: 91 15 138; /* #5b0f8a */
  }
}

/* Custom classes */
@layer components {
  .link {
    @apply font-medium text-color-link hover:underline
      hover:text-color-link-hover visited:text-color-link-visited;
  }
}
