---
import {
    getCollection,
    type CollectionEntry,
    getEntry,
    render,
} from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import MarkdownLayout from "../../../layouts/MarkdownLayout.astro";
import TagsList from "../../../components/TagsList.astro";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog");
    return blogPosts.map((entry: CollectionEntry<"blog">) => ({
        params: { id: entry.id },
        props: { entry },
    }));
}

const { entry } = Astro.props as { entry: CollectionEntry<"blog"> };
const { Content } = await render(entry);

const allTags: CollectionEntry<"tags">[] = [];

for (const tag of entry.data.tags) {
    const entry = await getEntry(tag.collection, tag.id);
    allTags.push(entry!);
}

const sortedTags = [...new Set(allTags)].sort((a, b) =>
    a.data.name.localeCompare(b.data.name),
);

let projectEntry;

if (entry.data.relatedProject) {
    projectEntry = await getEntry(
        entry.data.relatedProject.collection,
        entry.data.relatedProject.id,
    );
}
---

<BaseLayout
    title={entry.data.title}
    ogImg={entry.data.image.url.src}
    ogImgAlt={entry.data.image.alt}
>
    <Fragment slot="head">
        <meta property="og:type" content="article" />
        <meta
            property="article:published_time"
            content={entry.data.creationDate.toISOString()}
        />
        <meta
            property="article:author"
            content=`${Astro.url.protocol}//${Astro.url.host}`
        />
        <meta
            property="article:section"
            content={String(entry.id).split("/")[0]}
        />
        {
            sortedTags.map((tag) => (
                <meta property="article:tag" content={tag.data.name} />
            ))
        }

        <meta property="profile:username" content="Jayden" />
    </Fragment>

    <div class="max-w-prose sm:mt-5">
        {
            entry.data.image && (
                <figure>
                    <Image
                        src={entry.data.image.url}
                        alt={entry.data.image.alt}
                        crossorigin={"anonymous"}
                        class:list={
                            "rounded-3xl w-full max-h-96 object-contain"
                        }
                        referrerpolicy={"no-referrer"}
                        loading={"eager"}
                    />
                    <figcaption class="text-color-light-text mx-2 my-1">
                        {entry.data.image.alt}
                        {entry.data.image.license && (
                            <>, {entry.data.image.license}</>
                        )}
                        {entry.data.image.source && (
                            <a href={entry.data.image.source} class="link">
                                Source
                            </a>
                        )}
                    </figcaption>
                </figure>
            )
        }
        <div class="mx-5 sm:mx-10">
            <h1 class="text-4xl mt-5 sm:mt-10 leading-tight">
                <strong>{entry.data.title}</strong>
            </h1>

            <section>
                <h2 class="text-xl text-color-light-text leading-relaxed mt-1">
                    {projectEntry && "Blog post creation date:"}
                    <time datetime={entry.data.creationDate.toISOString()}>
                        {
                            entry.data.creationDate.toLocaleDateString(
                                undefined,
                                {
                                    weekday: "long",
                                    year: "numeric",
                                    month: "long",
                                    day: "numeric",
                                },
                            )
                        }
                    </time>
                </h2>

                {
                    projectEntry && (
                        <>
                            <h2 class="text-xl text-color-light-text leading-relaxed">
                                Project creation date:
                                <time
                                    datetime={projectEntry.data.creationDate.toISOString()}
                                >
                                    {projectEntry.data.creationDate.toLocaleDateString(
                                        undefined,
                                        {
                                            weekday: "long",
                                            year: "numeric",
                                            month: "long",
                                            day: "numeric",
                                        },
                                    )}
                                </time>
                            </h2>
                            <div class="mt-4">
                                <a
                                    class="inline-block bg-color-200 rounded-full p-2 px-3 text-color-light-text hover:text-color-text"
                                    href={projectEntry.data.codeberg_url}
                                >
                                    Source
                                </a>
                                {projectEntry.data.deploy_url && (
                                    <a
                                        class="inline-block bg-color-200 rounded-full p-2 px-3 text-color-light-text hover:text-color-text"
                                        href={projectEntry.data.deploy_url}
                                    >
                                        Show
                                    </a>
                                )}
                            </div>
                        </>
                    )
                }
            </section>

            <section class="mt-4">
                <TagsList tags={sortedTags} type="blog" variant="spaced" />
            </section>

            <MarkdownLayout>
                <Content />
            </MarkdownLayout>
        </div>
    </div>
</BaseLayout>
