---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ProjectsCards from "../../../components/ProjectsCards.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    projects.sort(
        (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
            new Date(b.data.creationDate).getTime() -
            new Date(a.data.creationDate).getTime(),
    );

    const allTags = [];

    for (const project of projects) {
        for (const tag of project.data.tags) {
            const entry = await getEntry(tag.collection, tag.id);
            allTags.push(entry!);
        }
    }

    return allTags.map((tag) => {
        const filteredProjects = projects.filter(
            (project: CollectionEntry<"projects">) =>
                project.data.tags.some(
                    (projectTag) => projectTag.id === tag.id,
                ),
        );

        const normalProjects = filteredProjects.filter(
            (project: CollectionEntry<"projects">) =>
                project.id.slice(0, project.id.lastIndexOf("/")) ==
                "my-projects",
        );

        const archivedProjects = filteredProjects.filter(
            (project: CollectionEntry<"projects">) =>
                project.id.slice(0, project.id.lastIndexOf("/")) ==
                "archived-projects",
        );

        return {
            params: { tag: tag.id },
            props: {
                normalProjects: normalProjects,
                archivedProjects: archivedProjects,
                tag: tag,
            },
        };
    });
}

const { normalProjects, archivedProjects, tag } = Astro.props;
---

<BaseLayout title={tag.data.name}>
    <div class="mx-5 sm:mx-10 mt-10">
        <h1 class="text-4xl leading-relaxed max-w-prose">
            <strong>
                {
                    tag.id.slice(0, tag.id.lastIndexOf("/")) == "languages" ? (
                        <>Projects in {tag.data.name}</>
                    ) : (
                        <>Projects tagged with {tag.data.name}</>
                    )
                }
            </strong>
        </h1>

        <h2 class="text-xl mt-2 leading-relaxed mb-10 max-w-prose">
            {tag.data.description}
        </h2>

        <ProjectsCards projects={normalProjects} />

        <div class="mb-10"></div>

        {
            archivedProjects.length > 0 && (
                <>
                    <h3 class="text-lg mb-2">Archived projects</h3>
                    <ProjectsCards projects={archivedProjects} />
                </>
            )
        }
    </div>
</BaseLayout>
