---
import { getCollection, type CollectionEntry, getEntry } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogPostCards from "../../../components/BlogPostCards.astro";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog");

    blogPosts.sort(
        (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
            new Date(b.data.creationDate).getTime() -
            new Date(a.data.creationDate).getTime(),
    );

    const allTags = [];

    for (const post of blogPosts) {
        for (const tag of post.data.tags) {
            const entry = await getEntry(tag.collection, tag.id);
            allTags.push(entry!);
        }
    }

    return allTags.map((tag) => {
        const filteredPosts = blogPosts.filter((post) =>
            post.data.tags.some((postTag) => postTag.id === tag.id),
        );

        // Convert blogposts into a hashmap of folders
        const postsByFolder = filteredPosts.reduce((acc, post) => {
            const folder = post.id.slice(0, post.id.lastIndexOf("/"));
            if (!acc.get(folder)) acc.set(folder, []);

            acc.get(folder)!.push(post);
            return acc;
        }, new Map<string, CollectionEntry<"blog">[]>());

        // Put the archive folder at the end and sort new years first
        const sortedPostsByFolder: Map<string, CollectionEntry<"blog">[]> =
            new Map(
                [...postsByFolder.entries()].sort((a, b) => {
                    if (a[0] === "archive") return 1;
                    if (b[0] === "archive") return -1;

                    const a_isnum = !isNaN(Number(a));
                    const b_isnum = !isNaN(Number(b));
                    if (a_isnum === true && b_isnum === true)
                        a[0].localeCompare(b[0]);
                    return 0;
                }),
            );

        return {
            params: { tag: tag.id },
            props: { postsByFolder: sortedPostsByFolder, tag: tag },
        };
    });
}

const { postsByFolder, tag } = Astro.props;
---

<BaseLayout title={tag.data.name}>
    <div class="mx-5 sm:mx-10 mt-12">
        <h1 class="text-4xl leading-relaxed">
            <strong>
                {
                    tag.id.slice(0, tag.id.lastIndexOf("/")) == "languages" ? (
                        <>Blog posts in {tag.data.name}</>
                    ) : (
                        <>Blog posts tagged with {tag.data.name}</>
                    )
                }
            </strong>
        </h1>

        <h2 class="text-xl mt-2 leading-relaxed">{tag.data.description}</h2>

        {
            [...postsByFolder].map(([folder, entries]) => (
                <section>
                    <h3 class="text-lg mt-10 mb-2">
                        {folder.charAt(0).toUpperCase() + folder.slice(1)}
                    </h3>
                    <BlogPostCards blog_entries={entries} />
                </section>
            ))
        }
    </div>
</BaseLayout>
