---
import { ClientRouter } from "astro:transitions";
import { JSDOM } from "jsdom";
import DOMPurify from "dompurify";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../css/tailwind.css";

import jayden300px from "../assets/jayden-300px.png";

interface Props {
    title: string;
    ogImg?: string;
    ogImgAlt?: string;
}

const { title, ogImg, ogImgAlt } = Astro.props;

const fullTitle = `${title} - Jayden`;

const slot = await Astro.slots.render("default");

const window = new JSDOM("").window;
const purify = DOMPurify(window);
const nohtml = purify.sanitize(slot, {
    USE_PROFILES: { html: false },
});
const truncated = String(nohtml).slice(0, 200);
const truncatedNoSpaces = truncated
    .replace(/\s{2,}/g, " ")
    .replace(/\t/g, " ")
    .trim()
    .replace(/(\r\n|\n|\r)/g, "");
const description =
    truncated.length < String(nohtml).length
        ? truncatedNoSpaces + "..."
        : truncatedNoSpaces;
---

<!doctype html>
<html lang={Astro.currentLocale} transition:animate="initial">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="Content-Security-Policy"
            content="upgrade-insecure-requests"
        />
        <meta
            http-equiv="Content-Security-Policy"
            content="object-src 'none'"
        />
        <meta http-equiv="Content-Security-Policy" content="img-src 'self'" />
        <meta name="referrer" content="no-referrer" />
        <meta name="generator" content={Astro.generator} />
        <ClientRouter />
        <title>{fullTitle}</title>
        <meta property="og:title" content={fullTitle} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:image" content={ogImg ? ogImg : jayden300px.src} />
        <meta
            property="og:image:alt"
            content={ogImgAlt ? ogImgAlt : "Jayden's profile picture"}
        />
        <meta property="og:locale" content={Astro.currentLocale} />
        <meta property="og:locale:alternate" content="fr" />
        <meta property="og:site_name" content="Jayden" />
        <meta property="og:description" content={description} />
        <meta property="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Your Site's Title"
            href={new URL("rss.xml", Astro.site)}
        />
        <slot name="head" />
        <link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body
        class="text-pretty text-color-text bg-color-background leading-relaxed"
    >
        <Navbar />
        <div class="flex flex-col h-lvh">
            <main class="mt-11 sm:mt-15 m-auto grow">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
